.agent-element, .agent-type{
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 45%;
    align-items: center;
    justify-content: center;
    padding: .1vw;
}

.black_bar{
    z-index: -10;
    display: flex;
    height: 125%;
    border-left: 3px solid black;
    transform: rotate(30deg);
}

.agent-sub-stats{
    display: flex;
    width: 100%;
    height: 80%;
}

.stats{
    display: grid;
    margin-top: 4px;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    width: 100%;
}

.stat{
    display: flex;
    align-items: center;
    overflow: hidden;
    background: black;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 1vw;
    height: 60%;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    white-space: nowrap;
    margin-left: 8px;
    margin-right: 8px;
}