{% load static %}
<div class="color-selector">
    <div class="color-display">Colors</div>
    {% for color in Colors %}
        <div class="color-div"
            data-color-id="{{color.id}}"
            onclick="changeCoreColor(event.target.getAttribute('data-color-id'))"
            style=
                "background: linear-gradient({{color.light_gradient}}, {{color.dark_gradient}});
                border: 2px solid {{color.light_color}};"
            >
        </div>
    {% endfor %}
</div>