<input type="hidden" name="color-id" id="color-id" data-color-id="1">

<script>
    function changeCoreColor(color_id){
        color_list.forEach(color => {
            if(color_id == color["id"]){
                document.getElementById("color-id").setAttribute("data-color-id", color["id"]);

                document.cookie = `color_id=${color["id"]}; path=/; max-age=31536000; SameSite=Lax`;

                const root = document.documentElement;
                root.style.setProperty('--light-color', color["light_color"]);
                root.style.setProperty('--light-gradient', color["light_gradient"]);
                root.style.setProperty('--dark-gradient', color["dark_gradient"]);
            }
        });
    }
</script>