{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="{% static 'style/color/color.css' %}">
</head>
<body>
    <header>
        <label class="title active"
            onclick="location.href='../'">ZZZ Calculator</label>
        <img class="settings-icon"
            src="{% static 'Settings/settings-icon.png' %}"
            alt=" ">
    </header>
    <div class="content">
        {% include "Settings/ColorSelection.html" %}
        {% include "Settings/SetColor.html" %}
        {% include "Settings/SetColorCookie.html" %}
    </div>
</body>
</html>