{% load static %}
<div class="agent-hidden-stats-frame">
    <div class="hidden-stats">
        <div class="hidden_stat">
            <span>PEN</span>
            <span id="stat_pen" class="stat_12" data-value="{{random_agent.penetration}}" data-statid="12">{{random_agent.penetration}}</span>
        </div>
        <div class="hidden_stat">
            <div class="hidden_content_stat"><img class="hidden_image_stat" src="{% static 'Stat/Physical Damage.png' %}"> DMG</div>
            <span id="stat_physical_dmg" class="stat_18" data-value="0" data-statid="18">0</span>
        </div>
        <div class="hidden_stat">
            <div class="hidden_content_stat"><img class="hidden_image_stat" src="{% static 'Stat/Fire Damage.png' %}"> DMG</div>
            <span id="stat_fire_dmg" class="stat_20" data-value="0" data-statid="20">0</span>
        </div>
        <div class="hidden_stat">
            <div class="hidden_content_stat"><img class="hidden_image_stat" src="{% static 'Stat/Ice Damage.png' %}"> DMG</div>
            <span id="stat_ice_dmg" class="stat_21" data-value="0" data-statid="21">0</span>
        </div>
        <div class="hidden_stat">
            <div class="hidden_content_stat"><img class="hidden_image_stat" src="{% static 'Stat/Eletric Damage.png' %}"> DMG</div>
            <span id="stat_eletric_dmg" class="stat_19" data-value="0" data-statid="19">0</span>
        </div>
        <div class="hidden_stat">
            <div class="hidden_content_stat"><img class="hidden_image_stat" src="{% static 'Stat/Ether Damage.png' %}"> DMG</div>
            <span id="stat_ether_dmg" class="stat_22" data-value="0" data-statid="22">0</span>
        </div>
    </div>
</div>