{% load static %}

<div class="core-frame">
    <div class="core-column-level">
        <div id="core-button" class="core-level-outline" data-letter="A">
            <div class="core-label-outline" data-letter="A">
                <div class="core-base" data-letter="A" onclick="activateCore(event)">
                    <label class="core-label" data-letter="A">A</label>
                </div>
            </div>
        </div>
        <div id="core-button" class="core-level-outline" data-letter="B">
            <div class="core-label-outline" data-letter="B">
                <div class="core-base" data-letter="B" onclick="activateCore(event)">
                    <label class="core-label" data-letter="B">B</label>
                </div>
            </div>
        </div>
    </div>
    <div class="core-column-level">
        <div id="core-button" class="core-level-outline" data-letter="C">
            <div class="core-label-outline" data-letter="C">
                <div class="core-base" data-letter="C" onclick="activateCore(event)">
                    <label class="core-label" data-letter="C">C</label>
                </div>
            </div>
        </div>
        <div id="core-button" class="core-level-outline" data-letter="D">
            <div class="core-label-outline" data-letter="D">
                <div class="core-base" data-letter="D" onclick="activateCore(event)">
                    <label class="core-label" data-letter="D">D</label>
                </div>
            </div>
        </div>
    </div>
    <div class="core-column-level">
        <div id="core-button" class="core-level-outline" data-letter="E">
            <div class="core-label-outline" data-letter="E">
                <div class="core-base" data-letter="E" onclick="activateCore(event)">
                    <label class="core-label" data-letter="E">E</label>
                </div>
            </div>
        </div>
        <div id="core-button" class="core-level-outline" data-letter="F">
            <div class="core-label-outline" data-letter="F">
                <div class="core-base" data-letter="F" onclick="activateCore(event)">
                    <label class="core-label" data-letter="F">F</label>
                </div>
            </div>
        </div>
    </div>
    <div class="core-column-effect">
        <div class="core-level-outline">
            <div class="core-effect-outline">
                <div class="core-effect-base" style="outline: 1.5px solid rgb(81, 77, 81);">
                    <div class="core-effect-background">
                        <div class="core-effect-center">
                            <div class="core-effect-nut">
                                <div id="core-effect-stick" class="core-effect-stick-1"></div>
                                <div id="core-effect-stick" class="core-effect-stick-2"></div>
                                <div id="core-effect-stick" class="core-effect-stick-3"></div>
                                <div id="core-effect-stick" class="core-effect-stick-4"></div>
                                <div id="core-effect-stick" class="core-effect-stick-5"></div>
                                <div id="core-effect-stick" class="core-effect-stick-6"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="core-effect-triangle-outline">
            <div class="core-effect-triangle">
                <div class="core-effect-sub-triangle">
                    <div id="core-effect-triangle-bar-1" class="core-effect-triangle-bar"></div>
                    <div id="core-effect-triangle-bar-2" class="core-effect-triangle-bar"></div>
                    <div id="core-effect-triangle-bar-3" class="core-effect-triangle-bar"></div>
                </div>
            </div>
        </div>
        <div class="core-level-outline">
            <div class="core-effect-outline">
                <div class="core-effect-base" style="outline: 1.5px solid rgb(81, 77, 81);">
                    <div class="core-effect-background">
                        <div class="core-effect-center">
                            <div class="core-effect-nut">
                                <div id="core-effect-stick" class="core-effect-stick-1"></div>
                                <div id="core-effect-stick" class="core-effect-stick-2"></div>
                                <div id="core-effect-stick" class="core-effect-stick-3"></div>
                                <div id="core-effect-stick" class="core-effect-stick-4"></div>
                                <div id="core-effect-stick" class="core-effect-stick-5"></div>
                                <div id="core-effect-stick" class="core-effect-stick-6"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="core-info-frame">
    <div class="core-info-name">
        Core Skill Enhancement
    </div>
    <div class="core-info-effects">
        <ul class="core-info-list-effects">
            <li id="core-base-effect" class="core-info-single-effect">
                Base ATK increase by 25
            </li>
            <li id="core-second-effect" class="core-info-single-effect">
                Anomaly Proficiency increase by 30
            </li>
        </ul>
    </div>
</div>
<script src="{% static 'scripts/agent/core.js' %}"></script>