{% load static %}

<div class="core-frame">
    <div class="core-column-level">
        <div class="core-level-outline">
            <div class="core-label-outline">
                <div class="core-base">
                    A
                </div>
            </div>
        </div>
        <div class="core-level-outline">
            <div class="core-label-outline">
                <div class="core-base">
                    B
                </div>
            </div>
        </div>
    </div>
    <div class="core-column-level">
        <div class="core-level-outline">
            <div class="core-label-outline">
                <div class="core-base">
                    C
                </div>
            </div>
        </div>
        <div class="core-level-outline">
            <div class="core-label-outline">
                <div class="core-base">
                    D
                </div>
            </div>
        </div>
    </div>
    <div class="core-column-level">
        <div class="core-level-outline">
            <div class="core-label-outline">
                <div class="core-base">
                    E
                </div>
            </div>
        </div>
        <div class="core-level-outline">
            <div class="core-label-outline">
                <div class="core-base">
                    F
                </div>
            </div>
        </div>
    </div>
    <div class="core-column-level">
        <div class="core-level-outline">
            <div class="core-label-outline">
                <div class="core-base">

                </div>
            </div>
        </div>
        <div class="core-level-outline">
            <div class="core-label-outline">
                <div class="core-base">

                </div>
            </div>
        </div>
    </div>
    <div class="core-column-effect">
        <div class="core-level-outline">
            <div class="core-label-outline">
                <div class="core-base">

                </div>
            </div>
        </div>
        <div class="core-level-outline">
            <div class="core-label-outline">
                <div class="core-base">

                </div>
            </div>
        </div>
    </div>
</div>