{% load static %}
<div class="agent-hidden-stats-frame">
    <div class="hidden-stats">
        <div class="hidden_stat">
            <span>PEN</span>
            <span id="stat-pen" class="stat-12" data-value="{{random_agent.penetration}}" data-statid="12">{{random_agent.penetration}}</span>
        </div>
        <div class="hidden_stat">
            <div class="hidden_content_stat"><img class="hidden_image_stat" src="{% static 'Stat/Physical Damage.png' %}"> DMG</div>
            <span id="stat-physical-dmg" class="stat-18" data-value="0" data-statid="18">0</span>
        </div>
        <div class="hidden_stat">
            <div class="hidden_content_stat"><img class="hidden_image_stat" src="{% static 'Stat/Fire Damage.png' %}"> DMG</div>
            <span id="stat-fire-dmg" class="stat-20" data-value="0" data-statid="20">0</span>
        </div>
        <div class="hidden_stat">
            <div class="hidden_content_stat"><img class="hidden_image_stat" src="{% static 'Stat/Ice Damage.png' %}"> DMG</div>
            <span id="stat-ice-dmg" class="stat-21" data-value="0" data-statid="21">0</span>
        </div>
        <div class="hidden_stat">
            <div class="hidden_content_stat"><img class="hidden_image_stat" src="{% static 'Stat/Eletric Damage.png' %}"> DMG</div>
            <span id="stat-eletric-dmg" class="stat-19" data-value="0" data-statid="19">0</span>
        </div>
        <div class="hidden_stat">
            <div class="hidden_content_stat"><img class="hidden_image_stat" src="{% static 'Stat/Ether Damage.png' %}"> DMG</div>
            <span id="stat-ether-dmg" class="stat-22" data-value="0" data-statid="22">0</span>
        </div>
    </div>
</div>