{% load static %}
<div class="agent-frame">
    <div class="agent-info-header"><label class="agent-info-label">AGENT INFO</label></div>
    <div class="agent-info">
        <div class="agent-faction-background">
            <img id="agent-faction-background-image" class="agent-faction-background-image" src="{% static 'Factions/'|add:random_agent.faction|add:'.png' %}">
        </div>
        <div class="agent-info-labels">
            <div id="overflow-div-agent-faction" class="agent-info-row1">
                <img id="agent-tier-img" class="agent-tier-img" src="{% static 'Tier/'|add:random_agent.tier|add:'.png' %}">
                <label id="agent-faction" class="agent-faction" style="vertical-align: middle;">{{random_agent.faction}}</label>
            </div>
            <div id="overflow-div-agent-name" class="agent-info-row2">
                <label id="agent-name" class="agent-name">{{random_agent.name}}</label>
            </div>
            <div class="agent-info-row3">
                <label id="agent-nickname" class="agent-nickname">{{random_agent.nickname}}</label>
            </div>
        </div>
        <div class="agent-info-img">
            <img id="faction-img" class="faction-img" src="{% static 'Factions/'|add:random_agent.faction|add:'.png' %}">
        </div>
    </div>
    <div class="agent-stats">
        <div class="agent-main-stats">
            <div class="agent-level">
                <div class="agent-level-row">
                    <div class="agent-actual-level">
                        <label class="agent-actual-level-label">Lv.60</label>
                    </div>
                    <div class="black_bar"></div>
                    <div class="agent-max-level-row">
                        <div class="agent-max-level">
                            <label class="agent-max-level-label">60</label>
                        </div>
                        <div class="agent-max">
                            <label class="agent-max-label">MAX</label>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="agent-attributes">
                <div class="agent-attributes-row">
                    <div class="agent-element">
                        <img id="agent-element-img" class="agent-element-img" src="{% static 'Elements/'|add:random_agent.element|add:'.png' %}">
                        <label id="agent-element-label" class="agent-element-label">{{random_agent.element}}</label>
                    </div>
                    <div class="black_bar"></div>
                    <div class="agent-type">
                        <img id="agent-type-img" class="agent-type-img" src="{% static 'Types/'|add:random_agent.type|add:'.png' %}">
                        <label id="agent-type-label" class="agent-type-label">{{random_agent.type}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="agent-sub-stats">
            <div class="stats">
                <div class="stat">
                    <span>HP</span>
                    <span id="stat_hp" class="stat_1" data-value="{{random_agent.health_point}}" data-statid="1">{{random_agent.health_point}}</span>
                </div>
                <div class="stat">
                    <span>ATK</span>
                    <span id="stat_atk" class="stat_3" data-value="{{random_agent.attack}}" data-statid="3">{{random_agent.attack}}</span>
                </div>
                <div class="stat">
                    <span>DEF</span>
                    <span id="stat_def" class="stat_5" data-value="{{random_agent.defense}}" data-statid="5">{{random_agent.defense}}</span>
                </div>
                <div class="stat">
                    <span>Impact</span>
                    <span id="stat_impact" class="stat_14" data-value="{{random_agent.impact}}" data-statid="14">{{random_agent.impact}}</span>
                </div>
                <div class="stat">
                    <span>CRIT Rate</span>
                    <span id="stat_crit_rate" class="stat_7" data-value="{{random_agent.crit_rate}}" data-statid="7">{{random_agent.crit_rate}}%</span>
                </div>
                <div class="stat">
                    <span>CRIT DMG</span>
                    <span id="stat_crit_damage" class="stat_8" data-value="{{random_agent.crit_damage}}" data-statid="8">{{random_agent.crit_damage}}%</span>
                </div>
                <div class="stat">
                    <span>Anomaly Mastery</span>
                    <span id="stat_anomaly_mastery" class="stat_10" data-value="{{random_agent.anomaly_mastery}}" data-statid="10">{{random_agent.anomaly_mastery}}</span>
                </div>
                <div class="stat">
                    <span>Anomaly Proficiency</span>
                    <span id="stat_anomaly_proficiency" class="stat_9" data-value="{{random_agent.anomaly_proficiency}}" data-statid="9">{{random_agent.anomaly_proficiency}}</span>
                </div>
                <div class="stat">
                    <span>PEN Ratio</span>
                    <span id="stat_pen_ratio" class="stat_13" data-value="{{random_agent.penetration_ratio}}" data-statid="13">{{random_agent.penetration_ratio}}%</span>
                </div>
                <div class="stat">
                    <span>Energy Regen</span>
                    <span id="stat_energy_regen" class="stat_16" data-value="{{random_agent.energy_regen}}" data-statid="16">{{random_agent.energy_regen}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
