<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="{% static 'style/dropdown.css' %}">

    <link rel="stylesheet" href="{% static 'style/agent/agent-selection.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/agent-info.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/agent.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/tier.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/faction.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/element.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/type.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/agent-stats.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/agent-hidden-stats.css' %}">

    <link rel="stylesheet" href="{% static 'style/wengine/wengine-selection.css' %}">
    <link rel="stylesheet" href="{% static 'style/wengine/wengine.css' %}">
    <link rel="stylesheet" href="{% static 'style/wengine/wengine-stats.css' %}">

    <link rel="stylesheet" href="{% static 'style/disc/disc-set.css' %}">
    <link rel="stylesheet" href="{% static 'style/disc/disc-selection.css' %}">
    <link rel="stylesheet" href="{% static 'style/disc/slot.css' %}">
    <link rel="stylesheet" href="{% static 'style/stat-dropdown.css' %}">

    <link rel="stylesheet" href="{% static 'style/selector/agent-selector.css' %}">
    <link rel="stylesheet" href="{% static 'style/selector/wengine-selector.css' %}">
    <link rel="stylesheet" href="{% static 'style/selector/disc-selector.css' %}">

    <link rel="stylesheet" href="{% static 'style/core/core.css' %}">
    <link rel="stylesheet" href="{% static 'style/core/core-info.css' %}">
    <link rel="stylesheet" href="{% static 'style/color/color.css' %}">

    <title>ZZZ Calculator</title>
</head>
<body>
    {% include "Builder/SetGlobalVariablesScript.html" %}
    <header>
        <label class="title">ZZZ Calculator</label>
        <img class="settings-icon active"
            src="{% static 'Settings/settings-icon.png' %}"
            alt=" "
            onclick="location.href='/settings'">
    </header>
    <div class="content">
        <div class="content-row">
            <div class="content-row-upper-separator-agent">
                {% load GetRandomAgent %}
                {% getAgent as random_agent %}
                {% include "Builder/AgentInfo.html" %}
                <div class="content-row-extra-info">
                    {% include "Builder/WEngineInfo.html" %}
                    {% include "Builder/AgentHiddenStats.html" %}
                </div>
            </div>
            <div class="content-row-upper-separator-disc">
                {% include "Builder/DiscSet.html" %}
            </div>
        </div>
        <div class="content-row">
            <div class="content-row-lower-separator-core">
                {% include "Builder/AgentCore.html" %}
                {% include "Settings/SetColorCookie.html" %}
                {% include "Settings/SetColor.html" %}
            </div>
            <div class="content-row-lower-separator-selectors">
                {% include "Builder/AgentSelection.html" %}
                {% include "Builder/WEngineSelection.html" %}
                {% include "Builder/DiscSelection.html" %}
            </div>
        </div>
    </div>

    <script src="{% static 'scripts/resizeText.js' %}"></script>
    <script src="{% static 'scripts/stats/stats.js' %}"></script>
</body>
</html>