{% load static %}
<!--Agent-Stats-->
<input id="save-value" type="hidden" name="stat-hp" value="0">
<input id="save-value" type="hidden" name="stat-atk" value="0">
<input id="save-value" type="hidden" name="stat-def" value="0">
<input id="save-value" type="hidden" name="stat-impact" value="0">
<input id="save-value" type="hidden" name="stat-crit-rate" value="0">
<input id="save-value" type="hidden" name="stat-crit-damage" value="0">
<input id="save-value" type="hidden" name="stat-anomaly-mastery" value="0">
<input id="save-value" type="hidden" name="stat-anomaly-proficiency" value="0">
<input id="save-value" type="hidden" name="stat-pen-ratio" value="0">
<input id="save-value" type="hidden" name="stat-energy-regen" value="0">
<input id="save-value" type="hidden" name="stat-pen" value="0">
<input id="save-value" type="hidden" name="stat-physical-dmg" value="0">
<input id="save-value" type="hidden" name="stat-fire-dmg" value="0">
<input id="save-value" type="hidden" name="stat-ice-dmg" value="0">
<input id="save-value" type="hidden" name="stat-eletric-dmg" value="0">
<input id="save-value" type="hidden" name="stat-ether-dmg" value="0">
<!--Agent-Info-->
<input id="save-value" type="hidden" name="agent-name" value="0">
<input id="save-value" type="hidden" name="agent-nickname" value="0">
<input id="save-value" type="hidden" name="agent-max-level" value="0">
<input id="save-value" type="hidden" name="agent-current-level" value="0">
<input id="save-value" type="hidden" name="agent-element-label" value="0">
<input id="save-value" type="hidden" name="agent-type-label" value="0">
<input id="save-value" type="hidden" name="agent-faction" value="0">
<input id="save-value" type="hidden" name="agent-tier" value="0">
<!--Agent-Core-->
<input id="save-value" type="hidden" name="agent-core" value="0">

<!--WEngine-Info-->
<input id="save-value" type="hidden" name="wengine-name" value="0">
<input id="save-value" type="hidden" name="wengine-owner" value="0">
<input id="save-value" type="hidden" name="wengine-type" value="0">
<!--WEngine-Stats-->
<input id="save-value" type="hidden" name="wengine-main-stat-name" value="0">
<input id="save-value" type="hidden" name="wengine-substat-name" value="0">
<input id="save-value" type="hidden" name="wengine-main-stat-value" value="0">
<input id="save-value" type="hidden" name="wengine-substat-value" value="0">

<!--Disc-1-->
<input id="save-value" type="hidden" name="disc-1-name" value="0">
<input id="save-value" type="hidden" name="disc-1-set" value="0">
<!--Disc-1-Main-Stat-->
<input id="save-value" type="hidden" name="disc-1-main-stat-name" value="0">
<input id="save-value" type="hidden" name="disc-1-main-stat-value" value="0">
<!--Disc-1-Sub-Stat-1-->
<input id="save-value" type="hidden" name="disc-1-substat-name-1" value="0">
<input id="save-value" type="hidden" name="disc-1-substat-value-1" value="0">
<input id="save-value" type="hidden" name="disc-1-substat-role-1" value="0">
<!--Disc-1-Sub-Stat-2-->
<input id="save-value" type="hidden" name="disc-1-substat-name-2" value="0">
<input id="save-value" type="hidden" name="disc-1-substat-value-2" value="0">
<input id="save-value" type="hidden" name="disc-1-substat-role-2" value="0">
<!--Disc-1-Sub-Stat-3-->
<input id="save-value" type="hidden" name="disc-1-substat-name-3" value="0">
<input id="save-value" type="hidden" name="disc-1-substat-value-3" value="0">
<input id="save-value" type="hidden" name="disc-1-substat-role-3" value="0">
<!--Disc-1-Sub-Stat-4-->
<input id="save-value" type="hidden" name="disc-1-substat-name-4" value="0">
<input id="save-value" type="hidden" name="disc-1-substat-value-4" value="0">
<input id="save-value" type="hidden" name="disc-1-substat-role-4" value="0">

<!--Disc-2-->
<input id="save-value" type="hidden" name="disc-2-name" value="0">
<input id="save-value" type="hidden" name="disc-2-set" value="0">
<!--Disc-2-Main-Stat-->
<input id="save-value" type="hidden" name="disc-2-main-stat-name" value="0">
<input id="save-value" type="hidden" name="disc-2-main-stat-value" value="0">
<!--Disc-2-Sub-Stat-1-->
<input id="save-value" type="hidden" name="disc-2-substat-name-1" value="0">
<input id="save-value" type="hidden" name="disc-2-substat-value-1" value="0">
<input id="save-value" type="hidden" name="disc-2-substat-role-1" value="0">
<!--Disc-2-Sub-Stat-2-->
<input id="save-value" type="hidden" name="disc-2-substat-name-2" value="0">
<input id="save-value" type="hidden" name="disc-2-substat-value-2" value="0">
<input id="save-value" type="hidden" name="disc-2-substat-role-2" value="0">
<!--Disc-2-Sub-Stat-3-->
<input id="save-value" type="hidden" name="disc-2-substat-name-3" value="0">
<input id="save-value" type="hidden" name="disc-2-substat-value-3" value="0">
<input id="save-value" type="hidden" name="disc-2-substat-role-3" value="0">
<!--Disc-2-Sub-Stat-4-->
<input id="save-value" type="hidden" name="disc-2-substat-name-4" value="0">
<input id="save-value" type="hidden" name="disc-2-substat-value-4" value="0">
<input id="save-value" type="hidden" name="disc-2-substat-role-4" value="0">

<!--Disc-3-->
<input id="save-value" type="hidden" name="disc-3-name" value="0">
<input id="save-value" type="hidden" name="disc-3-set" value="0">
<!--Disc-3-Main-Stat-->
<input id="save-value" type="hidden" name="disc-3-main-stat-name" value="0">
<input id="save-value" type="hidden" name="disc-3-main-stat-value" value="0">
<!--Disc-3-Sub-Stat-1-->
<input id="save-value" type="hidden" name="disc-3-substat-name-1" value="0">
<input id="save-value" type="hidden" name="disc-3-substat-value-1" value="0">
<input id="save-value" type="hidden" name="disc-3-substat-role-1" value="0">
<!--Disc-3-Sub-Stat-2-->
<input id="save-value" type="hidden" name="disc-3-substat-name-2" value="0">
<input id="save-value" type="hidden" name="disc-3-substat-value-2" value="0">
<input id="save-value" type="hidden" name="disc-3-substat-role-2" value="0">
<!--Disc-3-Sub-Stat-3-->
<input id="save-value" type="hidden" name="disc-3-substat-name-3" value="0">
<input id="save-value" type="hidden" name="disc-3-substat-value-3" value="0">
<input id="save-value" type="hidden" name="disc-3-substat-role-3" value="0">
<!--Disc-3-Sub-Stat-4-->
<input id="save-value" type="hidden" name="disc-3-substat-name-4" value="0">
<input id="save-value" type="hidden" name="disc-3-substat-value-4" value="0">
<input id="save-value" type="hidden" name="disc-3-substat-role-4" value="0">

<!--Disc-4-->
<input id="save-value" type="hidden" name="disc-4-name" value="0">
<input id="save-value" type="hidden" name="disc-4-set" value="0">
<!--Disc-4-Main-Stat-->
<input id="save-value" type="hidden" name="disc-4-main-stat-name" value="0">
<input id="save-value" type="hidden" name="disc-4-main-stat-value" value="0">
<!--Disc-4-Sub-Stat-1-->
<input id="save-value" type="hidden" name="disc-4-substat-name-1" value="0">
<input id="save-value" type="hidden" name="disc-4-substat-value-1" value="0">
<input id="save-value" type="hidden" name="disc-4-substat-role-1" value="0">
<!--Disc-4-Sub-Stat-2-->
<input id="save-value" type="hidden" name="disc-4-substat-name-2" value="0">
<input id="save-value" type="hidden" name="disc-4-substat-value-2" value="0">
<input id="save-value" type="hidden" name="disc-4-substat-role-2" value="0">
<!--Disc-4-Sub-Stat-3-->
<input id="save-value" type="hidden" name="disc-4-substat-name-3" value="0">
<input id="save-value" type="hidden" name="disc-4-substat-value-3" value="0">
<input id="save-value" type="hidden" name="disc-4-substat-role-3" value="0">
<!--Disc-4-Sub-Stat-4-->
<input id="save-value" type="hidden" name="disc-4-substat-name-4" value="0">
<input id="save-value" type="hidden" name="disc-4-substat-value-4" value="0">
<input id="save-value" type="hidden" name="disc-4-substat-role-4" value="0">

<!--Disc-5-->
<input id="save-value" type="hidden" name="disc-5-name" value="0">
<input id="save-value" type="hidden" name="disc-5-set" value="0">
<!--Disc-5-Main-Stat-->
<input id="save-value" type="hidden" name="disc-5-main-stat-name" value="0">
<input id="save-value" type="hidden" name="disc-5-main-stat-value" value="0">
<!--Disc-5-Sub-Stat-1-->
<input id="save-value" type="hidden" name="disc-5-substat-name-1" value="0">
<input id="save-value" type="hidden" name="disc-5-substat-value-1" value="0">
<input id="save-value" type="hidden" name="disc-5-substat-role-1" value="0">
<!--Disc-5-Sub-Stat-2-->
<input id="save-value" type="hidden" name="disc-5-substat-name-2" value="0">
<input id="save-value" type="hidden" name="disc-5-substat-value-2" value="0">
<input id="save-value" type="hidden" name="disc-5-substat-role-2" value="0">
<!--Disc-5-Sub-Stat-3-->
<input id="save-value" type="hidden" name="disc-5-substat-name-3" value="0">
<input id="save-value" type="hidden" name="disc-5-substat-value-3" value="0">
<input id="save-value" type="hidden" name="disc-5-substat-role-3" value="0">
<!--Disc-5-Sub-Stat-4-->
<input id="save-value" type="hidden" name="disc-5-substat-name-4" value="0">
<input id="save-value" type="hidden" name="disc-5-substat-value-4" value="0">
<input id="save-value" type="hidden" name="disc-5-substat-role-4" value="0">

<!--Disc-6-->
<input id="save-value" type="hidden" name="disc-6-name" value="0">
<input id="save-value" type="hidden" name="disc-6-set" value="0">
<!--Disc-6-Main-Stat-->
<input id="save-value" type="hidden" name="disc-6-main-stat-name" value="0">
<input id="save-value" type="hidden" name="disc-6-main-stat-value" value="0">
<!--Disc-6-Sub-Stat-1-->
<input id="save-value" type="hidden" name="disc-6-substat-name-1" value="0">
<input id="save-value" type="hidden" name="disc-6-substat-value-1" value="0">
<input id="save-value" type="hidden" name="disc-6-substat-role-1" value="0">
<!--Disc-6-Sub-Stat-2-->
<input id="save-value" type="hidden" name="disc-6-substat-name-2" value="0">
<input id="save-value" type="hidden" name="disc-6-substat-value-2" value="0">
<input id="save-value" type="hidden" name="disc-6-substat-role-2" value="0">
<!--Disc-6-Sub-Stat-3-->
<input id="save-value" type="hidden" name="disc-6-substat-name-3" value="0">
<input id="save-value" type="hidden" name="disc-6-substat-value-3" value="0">
<input id="save-value" type="hidden" name="disc-6-substat-role-3" value="0">
<!--Disc-6-Sub-Stat-4-->
<input id="save-value" type="hidden" name="disc-6-substat-name-4" value="0">
<input id="save-value" type="hidden" name="disc-6-substat-value-4" value="0">
<input id="save-value" type="hidden" name="disc-6-substat-role-4" value="0">

<!--
<input id="save-value" type="hidden" name="" value="0">
-->
<input id="color-id-save" type="hidden" name="color-id-save" value="">
<input id="color-list-save" type="hidden" name="color-list-save" value="">