<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link rel="stylesheet" href="{% static 'style/dropdown.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/agent.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/tier.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/faction.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/element.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/type.css' %}">
    <link rel="stylesheet" href="{% static 'style/agent/agent-info/agent-stats.css' %}">
    
    <link rel="stylesheet" href="{% static 'style/inputs.css' %}">
    <title>ZZZ Calculator</title>
</head>
<body>
    <div class="content-row">
        <form id="disc-form" class="disc-form" method="POST" action="disc">
            {% csrf_token %}
            
            <input type="text" id="disc-name" name="disc-name">
            <input type="number" id="disc-value" name="disc-value">
            
            <input type="hidden" id="stats-input" name="stats-input" value="ATK">

            <div class="stats-custom-dropdown">
                <button type="button" id="stats-dropdownButton" class="stats-dropdown-button">
                    <span id="stats-selectedText">Stats</span>
                </button>
                <ul id="stats-dropdownList" class="stats-dropdown-list">
                    {% for stats in Stats %}
                        <li data-value="{{stats.id}}" data-name="{{stats.name}}">
                            {{stats.name}}
                            {% if stats.type == "Percentage" %}
                                %
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            

            <button type="submit">Submit</button>
        </form>
    </div>
    
      
    <script src="{% static 'scripts/stats-dropdown.js' %}"></script>
    <script src="{% static 'scripts/tier.js' %}"></script>
    <script src="{% static 'scripts/resizeText.js' %}"></script>
</body>
</html>