{% load static %}
<script>
    const tier = document.getElementById("agent-tier-img");
    const tier_input = document.getElementById("tier-input");

    tier.addEventListener('click', (event) => {
        value = tier_input.value;

        if(value == "S"){
            value = "A";
            tier.src = "{% static 'Tier/A.png'|safe %}";
        }else{
            value = "S";
            tier.src = "{% static 'Tier/S.png'|safe %}";
        }
        
        tier_input.value = value;
    });
</script>