.element-custom-dropdown, .type-custom-dropdown, .faction-custom-dropdown, .stats-custom-dropdown{
    position: relative;
    display: inline-block;
}

.element-dropdown-button, .type-dropdown-button, .faction-dropdown-button, .stats-dropdown-button{
    display: flex;
    align-items: center;
    color: beige;
    font-family: ZZZ;
    background-color: rgb(66, 66, 66);
    border: 2px solid black;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
    gap: 8px;
    width: 140px;
    font-size: 16px;
}

.faction-dropdown-button{
    width: 340px;
}

.element-button-icon, .type-button-icon, .faction-button-icon{
    width: 25px;
    height: 25px;
}

.element-dropdown-list, .type-dropdown-list, .faction-dropdown-list, .stats-dropdown-list{
    z-index: 15;
    display: none;
    position: absolute;
    color: beige;
    background-color: rgb(66, 66, 66);
    border: 2px solid black;
    border-radius: 6px;
    list-style: none;
    padding: 0;
    margin: 5px 0;
    width: 100%;
    z-index: 10;
}

.element-dropdown-list li, .type-dropdown-list li, .faction-dropdown-list li, .stats-dropdown-list li{
    z-index: 15;
    display: flex;
    align-items: center;
    border-radius: 6px;
    gap: 8px;
    padding: 8px;
    cursor: pointer;
    transform: scale(1);
    -webkit-transition: transform .15s ease-in-out;
}

.element-dropdown-list li:hover, .type-dropdown-list li:hover, .faction-dropdown-list li:hover, .stats-dropdown-list li:hover{
    z-index: 15;
    transform: scale(1.1);
    -webkit-transition: transform .15s ease-in-out;
    background-color: rgb(86, 86, 86);
}

.element-dropdown-list img, .type-dropdown-list img, .faction-dropdown-list img{
    width: 25px;
    height: 25px;
}