.input-stats{
    font-family: ZZZ;
    background-color: rgb(66, 66, 66);
    border: 2px solid black;
    border-radius: 3px;
    color: beige;
    width: 100px;
    text-align: right;
}

.name-input, .nickname-input{
    font-family: ZZZ;
    background-color: rgb(66, 66, 66);
    border: 2px solid black;
    border-radius: 3px;
    color: beige;
}